* {
    box-sizing: border-box;
    padding: 0;
    --primary: rgb(205, 14, 14);
    --secondary: rgba(241, 210, 98, 0.847);
    --tertiary: #00000060;
  }
  
  /* selecting my default styles */
  body {
    font-family: 'Courier New', Courier, monospace, Arial, sans-serif;
  }

  /* HEADER / NAV BAR STYLES START */
  header {
    padding: 20px 35px;
    background-color: var(--tertiary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px var(--primary);
  }
  
  header h1 {
    font-size: 2vw;
  }
  

  header a {
    text-decoration: underline overline var(--primary);
    color: var(--primary);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  
  /* HEADER / NAVBAR STYLES END */
  
  
  
  /* FOOTER STYLES START */
  footer {
    background: var(--tertiary);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 0 4px 8px var(--primary);
  }
  
  footer h1 {
    color: var(--primary);
    font-size: 2vw;
    text-decoration: underline var(--primary);
  }
  
  footer div {
    display: inherit;
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: var(--primary);
    padding: 15px;
    text-decoration: underline overline var(--primary);
    font-size: 1.55vw;
  }

  /* FOOTER STYLES ENDS */

  /* spacing my bio out from my avatar */
  p {
    padding: 5%;
  }

  /* styling my images */
  .project-img {
    width: 80%;
    height: auto;
  }
  
  .project-img:hover {
    box-shadow: 0 0 2px 1px var(--primary);
    padding: 5px;
  }

  .avatar {
    border: 1px solid var(--primary);
    padding: 5px;
    width: 40%;
  }

  .hero {
    color: var(--primary);
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

  .hero-section {
    color: var(--primary);
    font-size: 2vw;
    text-decoration: underline var(--primary);
  }

  .project-section {
    color: var(--primary);
    font-size: 2vw;
    text-decoration: underline var(--primary);
  }

  .projects {
    color: var(--primary);
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0 auto 35px auto;
    display: flex;
    justify-content: space-between;
}
  
  .card-project {
    transition: 0.3s;
    width: 80%;
    height: auto
  }



 
  



